*{
    margin:0;
    padding: 0;
}

/*-------general-------*/
.bg-celeste{
    background-color: #e3f2fd;
}
main{
    margin-top: 114px;
}
.main-admin{
    margin-top: 0px;
}

/*------NAVBAR------*/
.bg-nav-celeste{
    background-color: rgba(227,242,253,0.9);
}
.logo-nav{
    width: 120px;
    border-radius: 50%;
}
.font-nav{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
/*-------------------*/


/*login-register*/
.bg-nav-login{
    background-color: rgba(227,242,253,0.000001);
}
.body-login{
    background-image: url(../images/bg-login2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    box-sizing: border-box;
}
.contenedor-principal{
    width: 100%;
    max-width: 900px;
    margin: auto;
    position: relative;
}

.caja-trasera{
    width: 100%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    height: 400px;
    background-color: rgba(0,0,0,0.35);
    border-radius: 10px;
}

.caja-trasera div{
    color: white;
    transition: all 500ms;
}
.contenedor-login-register{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 380px;
    top:-200px;
    left:10px;

    transition:left 500ms cubic-bezier(0.175,0.885,0.320,1.275) ;
}
.contenedor-login-register form{
    width: 100%;
    position: absolute;
    background-color: #fff;
    border-radius: 20px;
}

.form-login{
    opacity: 1;
    display: block;
}

.form-register{
    display: none;
}


/*-------footer--------*/
.bg-footer-login{
    background-color: rgba(227,242,253,0.000001);
}

/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------Pagina principal--------*/

.header-index{
    z-index: 2000;
    width: 100%;
    height: 650px;
    background-attachment: fixed;
    background-position:center;
    background-size: cover;
    /*background-image: url("/images/duplexcopia.jpg");*/
    background: #009FFF;
    background: -webkit-linear-gradient(to right, hsla(351, 83%, 55%, 0.1), rgba(0, 157, 255, 0.2)),url("/images/duplexcopia.jpg");
    background: linear-gradient(to right, rgba(236, 47, 75, 0.1), rgba(0, 157, 255, 0.1)),url("/images/duplexcopia.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 79%, 100% 87%, 0 100%, 45% 100%, 23% 100%, 0 100%);
}
#ir_arriba_boton{
    position: fixed;
    z-index: 1000;
    right: 25px;
    bottom: 25px;
    background-color: rgb(25,121,169);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    color: white;
    text-align: center;
}
#ir_arriba_boton:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.indicador_contenedor{
    width: 100%;
    position: fixed;
    top: 0;
    height: 8px;
    z-index: 10001;
}
.indicador_scroll{
    height: 100%;
    width: 0;
    background-color: rgb(25,121,169);
}
.ocultar{
    opacity: 0;
    visibility: hidden;
}
.mostrar{
    opacity: 1;
    visibility: visible;
}
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

/*--------Responsive--------*/

@media all and (max-width:850px){
    .font-nav{
        font-size: 20px;
    }
    .main-login{
        margin-top:50px ;
    }
    .caja-trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin:auto;
    }
    .caja-trasera div{
        margin: 0;
        position: absolute;
    }
    
    /*formularios*/
    .contenedor-login-register{
        top:-10px;
        left:-5px;
        margin: auto;
    }
    .contenedor-login-register form{
        position: relative;
    }
    .main-login{
        margin-bottom: 100px;
    }
    .bg-nav-login{
        background-color: rgba(227,242,253,0.2);
    }
    .footer-login{
        position: relative;
    }
    .bg-nav-index{
        background-color: rgba(0,0,0,0.5);
    }

    
}

@media all and (min-width:851px){
    .footer-login{
        position: fixed;
        bottom: 0;
    }
}