/*-------general-------*/
.bg-celeste{
    background-color: #e3f2fd;
}

/*------NAVBAR------*/

.logo-nav{
    width: 120px;
}
.font-nav{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
/*-------------------*/

